name: Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v3
        with:
          version: 8
      - uses: actions/setup-node@v6
        with:
          node-version: "22.x"
      - name: Install dependencies
        run: pnpm i --frozen-lockfile
      - name: Lint
        run: pnpm run lint
      - name: Build
        run: pnpm run build
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: build/
