name: Test

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 8
      - uses: actions/setup-node@v6
        with:
          node-version: "22.x"
      - name: Install dependencies
        run: pnpm i --frozen-lockfile
      - name: Test
        run: pnpm run test
        env:
          TEST_BOARD_ID: ${{secrets.TEST_BOARD_ID}}
          PRIVATE_TEST_BOARD_ID: ${{secrets.PRIVATE_TEST_BOARD_ID}}
